/*
Gradient 1 - #C2EFC8, #559FF1
Gradient 2 - #FCC76F, #F240A2
Gradient 3 - #4C94F3, #E53DAA
*/

$colorHighlight: #1e3264;
$fontGeneral: 'CircularBold', sans-serif;
$fontLight: 'CircularBook', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
    font-family: 'CircularBold'; /*a name to be used later*/
    src: url('../../resources/fonts/CircularSpotifyHead-Bold.otf') format('opentype'); /*URL to font*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CircularBook'; /*a name to be used later*/
    src: url('../../resources/fonts/CircularSpotifyText-Book.otf') format('opentype'); /*URL to font*/
    font-weight: normal;
    font-style: normal;
}


body {
    padding: 0;
    margin: 0;
}

/*.appContainer {
    width: 100%;
    position: relative;
    right: 8px;
}*/




/*background-image: linear-gradient(145deg, #509bf5, #f037a6); other*/
.favorites {
    background-image: linear-gradient(90deg, #C2EFC8, #559FF1);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
    z-index: -1;
}

.favorites.active {
    opacity: 1;
}

.habits {
    background-image: linear-gradient(90deg, #FCC76F, #F240A2);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
    z-index: -1;
}

.habits.active {
    opacity: 1;
}


.header h1 {
    font-family: $fontGeneral;
    font-weight: bolder;
    color: $colorHighlight;
    font-size: 3.8rem;
    letter-spacing: -0.05em;
    line-height: 1;
    margin-bottom: 0.625rem;
}

.header h2 {
    font-family:  $fontLight;
    font-size: 1rem;
    font-weight: 400;
    color: $colorHighlight;
    margin-top: 1px;

}

.header {
    text-align: center;
    margin: 0 auto 7rem auto;
}

.trackContainer {
    margin-bottom: 20em;
}

.trends {
    margin: 0 7.5vw 0 7.5vw;
    position: relative;
    overflow: hidden;
    max-width: 85vw;
}

.listening {
    text-align: center;
    margin: 0 auto 6.25rem auto;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.listeningHabits {
    margin: -15em auto 0 auto;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    flex: 0 1 45%;
    text-align: center;
    font-family: $fontGeneral;
    color: $colorHighlight;
}

.listening h1 {
    font-family: $fontGeneral;
    font-weight: bolder;
    color: $colorHighlight;
    font-size: 3.8rem;
    letter-spacing: -0.05em;
    line-height: 1;
    margin-bottom: 0.625rem;
}

.listening h2 {
    font-family:  $fontLight;
    font-size: 1rem;
    font-weight: 400;
    color: $colorHighlight;
    margin-top: -5px;
}

.listeningHabits h1 {
    font-family: $fontGeneral;
    font-weight: bolder;
    color: $colorHighlight;
    font-size: 3.8rem;
    letter-spacing: -0.05em;
    line-height: 1;
    margin-bottom: 0.625rem;
}

.listeningHabits h2 {
    font-family:  $fontLight;
    font-size: 1rem;
    font-weight: 400;
    color: $colorHighlight;
    margin-top: -5px;
}



.horizontalNavbar {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    overflow: hidden;
}

.navMain {
    display: flex;
    justify-content: space-between;
    height: 6em;
}

.navMainContainer.favorites {
    background-image: linear-gradient(90deg, #C2EFC8, #559FF1);
    opacity: 0;
    position: absolute;
    transition: opacity 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.navMainContainer.favorites.active {
    opacity: 1;
}


.navMainContainer.habits {
    background-image: linear-gradient(90deg, #FCC76F, #F240A2);   
    opacity: 0;
    position: absolute;
    transition: opacity 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.navMainContainer.habits.active {
   
    opacity: 1;
   
}

.profileContainer {
    display: flex;
    align-content: flex-start;
    color: $colorHighlight;
    margin: 1.3em 2.5em 0 0;
}

.textProfile {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 8px;
    top: 8px;
}

.profileName {
    font-family:  $fontGeneral;
    font-weight: bolder;
    align-self: flex-end;
}

.profileOptions {
    font-family:  $fontLight;
    align-self: flex-end;
    cursor: pointer;
}

.profilePic {
    border-radius: 100%;
    border-style: solid;
    border-width: 6px;
    border-color: $colorHighlight;
    zoom: 35%;
    box-shadow: 0 0 0 2px #1e3264;
}

.hoverProfile {
    transition: 0.3s;
}

.hoverProfile:hover {
    color: white;
}

.spotifyPic {
    width: 240px;
    height: 42px;
}

.time {
    max-width: 58.75rem;
    margin: 0 auto 4.6875rem auto;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.lineChart {
    height: 360px;
    width: 940px;
    align-self: baseline;
    margin: auto auto auto auto;
    text-align: center;
}

.sidenav {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 110px;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.initialOffset {
    margin-top: 6em;
}


.mainContainer {
    margin-left: -25px;
}

.bottomBar {
    height: 2px;
    width: 100%;
    background-color: $colorHighlight;
}

.favoritesContainer {
    text-align: center;
    font-family:  $fontGeneral;
}

.sidenav ul li .bottomBar{
    height: 100%;
    width: 2px;
    position: relative;
    left: 13px;
}

.sidenav ul {
    display: inline-block;
    list-style-type: none;
    white-space: nowrap;
    font-family: $fontGeneral;
    font-size: 12px;
    float: left;
    writing-mode: vertical-rl;/* FF */
    writing-mode: tb-lr;
    transform: scale(-1, -1);
}

.sidenav li {
    cursor: pointer;
    float: left;
    position: relative;
    top: 10px;
    right: 10px;
    margin-top: 2.5vw;
}

.sidenav a{
    display: block;
    color: $colorHighlight;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    opacity: 0.35;
    transition: 0.3s;
}


.sidenav a:hover{
    opacity: 1;
}


.favoritesContainer ul {
    display: block;
    list-style-type: none;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.favoritesContainer li {
    display: inline-block;
    text-align: center;
    margin: 0 2vw;
}

.favoritesContainer li a{
    color: $colorHighlight;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: opacity 300ms;
    text-transform: capitalize;
}

.svgPrueba {
    background: url('../../resources/anim.svg');
    width: 1050px ;
    height: 150px;
}

.navMain svg {
    fill: #1e3264;
    display: block;
    width: 240px;
    height: 42px;
    margin: 1.45em 0 0 1.4em;
}

/* All styles related to cards */

/* cardBase start */
.cardBase {
    position: relative;
    width: 100%;
    max-width: 56.25rem;
}

.cardBase.right {
    text-align: center;
    margin-top: 3.125rem;
    margin-bottom: 9.375rem;
    margin: 0 auto 4.375rem auto;
}

.cardBase.left {
    margin: 0 auto 2.1875rem auto;
}
/* cardBase end */

.cardBackground {
    width: 92.5%;
    height: 92.5%;
    background-color: $colorHighlight;
    position: absolute;
    opacity: 0.08;
    bottom: -3.5vh;
    left: 3.5%;
    z-index: -1;
}

/* cardImage start */
.cardImage {
    margin: 0;
    width: 450px;
    height: 450px;
    background-size: cover;
    background-position: center center;

}

.cardBase.right .cardImage {
    opacity: 1;
    margin-left: 50%;

}

.cardBase.left .cardImage{
    margin: 0;
}
/* cardImage end */

.cardDetails {
    z-index: 2;
    font-family: $fontGeneral;
}

/* Card details */
.cardBase .cardDetails {
    min-width: 100%;
    height: auto;
    position: absolute;
    bottom: 8%;
    width: auto;
    min-width: 100%;
    height: auto;
}

/* Card details right */
.cardBase.right .cardDetails {
    left: 0;
    right: inherit;
    text-align: left;
}

.cardBase.left .cardDetails {
    right: 0;
    text-align: right;
}

/* Card h2 */
.cardBase .cardDetails h2{
    font-size: 1.25rem;
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    background-color: rgba(30, 50, 100, 0.25);
    padding: 0.3125rem 1.5625rem;
    display: inline-block;
    width: auto;
}

/* Card h2 right */
.cardBase.right .cardDetails h2{
    margin: 0 0 3% 3%;
    align-self: flex-start;
}

.cardBase.left .cardDetails h2{
    margin: 0 3% 3% 0;
    align-self: flex-start;
}

/* Card h3 */
.cardBase .cardDetails h3{
    font-size: 3.75rem;
    color: #ffffff;
    font-family: $fontGeneral;
    font-weight: 700;
    background-color: #1e3264;
    padding: 0.625rem 2.1875rem;
    text-align: left;
}

/* Card h3 right */
.cardBase.right .cardDetails h3{
    max-width: 47%;
    min-width: 47%;
    line-height: 1.1;
    margin: 0 auto 0 0;
}

.cardBase.left .cardDetails h3{
    max-width: 47%;
    min-width: 47%;
    line-height: 1.1;
    margin: 0 0 0 auto;
}

.cardBase .cardDetails p{
    color: #1e3264;
    background-color: #ffffff;
    font-family: $fontLight;
    font-size: 1.25rem;
    padding: 0.3125rem 1.5625rem;
    display: inline-block;
}

.cardBase.right .cardDetails p{
    margin: -0.625rem 0 0 6%;
}

.cardBase.left .cardDetails p{
    margin: -0.625rem 6% 0 0;
}

.playButton {
    width: 2.5rem;
    height: 2.5rem;
    fill: #ffffff;
    cursor: pointer;
}

.playButton:hover {
    fill: #ffffff9d;
}

.audioPlayer {    
    width: 45%;
    font-size: 1rem;
    display: flex;
    color: #ffffff;
}

.cardBase.right .audioPlayer{
    margin: 3.5% auto 0 7.5%;
}

.cardBase.left .audioPlayer{
    margin: 3.5% 0 0 auto;
}

.audioPlayer .playInfo {
    padding-left: 1vw;
    text-align: left;
    position: relative; 
    top: 5px;
}

.audioPlayer .playSong {
    font-family: $fontGeneral;
    font-weight: 700;
    line-height: 1;
}

.audioPlayer .playArtist {
    font-family: $fontLight;
    margin-top: -0.125rem;
}

.trendsHour {
    flex: 0 1 45%;
    text-align: center;
    font-family: $fontGeneral;
    color: $colorHighlight;
}

.trendsHour h1 {
    font-family: $fontGeneral;
    font-size: 5.625rem;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    letter-spacing: -0.03em;
}

.trendsHour h1 span{
    font-family: $fontLight;
    font-size: 3.75rem;
    font-weight: 500;
    line-height: 1em;
    margin: 0;
    letter-spacing: -0.03em;
}

.trendsHour p {
    margin: 0;
    line-height: 1em;
}

.trendsHour p span {
    font-size: 0.75rem;
}

.divisor {
    height: 8.125rem;
    width: 0.7px;
    margin: 0;
    background: $colorHighlight;
}

.trendsUsage {
    margin: 0 auto 11.875rem auto;
    max-width: 61.25rem;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    width: 100%;
}

.trendsMins {
    flex: 0 1 45%;
    text-align: center;
    font-family: $fontGeneral;
    color: $colorHighlight;
}

.trendsMins h1{
    font-size: 5.625rem;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    letter-spacing: -0.03em;
}

.trendsMins p{
    font-size: 1.125rem;
    margin: 0;
    line-height: 1em;
}

.genreTitle {
    color: white;
    font-family: $fontGeneral;
    text-align: center;
    display: flex;
    flex-direction: row;
    font-size: 2.5rem;
    letter-spacing: -0.01em;
    margin: -3.5rem 0.625rem;
    line-height: 1;
}

.genreTitle h1:nth-child(1){
    color: $colorHighlight;
    margin-right: 10px;
}

.genreDescription{
    font-family: $fontLight;
    color: white;
    font-size: 0.8rem;
    margin: 0.9375rem 0;
}

.genreContainer {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
}


.tabbedContainer {
    margin: 0 auto 7.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}